body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #e7f3ef;
  color: #093426;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #23483c;
  color: #e7f3ef;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d7e0dd;
  color: black;
}

.present {
  background-color: #79bea8;
  color: white;
}

.future {
  background-color: #3b4d46;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #23483c;
  color: #e7f3ef;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: purple;
}
footer {
  padding: 10px;
  background-color: #E7F3Ef;
  color: #23483c;
  text-align: center;
}

footer a {
  color: #23483c;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
  color: purple;
}
footer, a:link, a:visited {
  text-decoration: none;
}